<resource-nav-title>
  <a href="{{ site.baseurl }}/resources">Resources</a>
</resource-nav-title>
<hr>
<resource-nav>
  <a href="{{ site.baseurl }}/resources">HOME</a>
  <a href="{{ site.baseurl }}/resources/flow">Flow & Spectral</a>
  <a href="{{ site.baseurl }}/resources/mass">Mass (CyTOF)</a>
  <a href="{{ site.baseurl }}/resources/imc">Imaging (IMC)</a>
  <a href="{{ site.baseurl }}/resources/analysis">Computational Analysis</a>
  <a href="https://sydneycytometry.org.au/wiki-launch">SC Extranet</a>
</resource-nav>
