<resource-nav-title>
  <a href="{{ site.baseurl }}/resources">RESOURCES</a>
</resource-nav-title>
<resource-nav>
  <a href="{{ site.baseurl }}/resources">HOME</a>
  <a href="{{ site.baseurl }}/resources/flow">Flow & spectral</a>
  <a href="{{ site.baseurl }}/resources/mass">Mass (CyTOF)</a>
  <a href="{{ site.baseurl }}/resources/imc">Imaging (IMC)</a>
  <a href="{{ site.baseurl }}/resources/analysis">Analysis</a>
  <a href="https://sydneycytometry.org.au/wiki-launch">SC Extranet</a>
</resource-nav>
