<subnav-title>
    <a href="https://tomashhurst.github.io/test"><b>SPECTRE</b></a>
</subnav-title>
<subnav>
  <a href="https://tomashhurst.github.io/test"><b>Home</b></a>
  <a href="https://tomashhurst.github.io/test">About</a>
  <a href="https://tomashhurst.github.io/test">Getting started</a>
  <a href="https://tomashhurst.github.io/test">Protocols</a>
  <a href="https://github.com/ImmuneDynamics/Spectre/issues">Report Issue</a>
  <a href="https://github.com/ImmuneDynamics/Spectre/discussions">Q&A</a>
  <a href="https://tomashhurst.github.io/test">Citing</a>
  <a href="https://github.com/ImmuneDynamics/Spectre">Github</a>
</subnav>
