<resource-nav-title>
  <a href=""https://tomashhurst.github.io/spectre-new">
    <img src="https://wiki.centenary.org.au/download/attachments/146080606/Spectre%20wide.png?version=1&modificationDate=1614253260985&api=v2" alt="Spectre" width="30%">
  </a>
</resource-nav-title>
<hr>
<resource-nav>
  <a href="https://tomashhurst.github.io/spectre-new">HOME</a>
  <a href="https://wiki.centenary.org.au/x/az0MCQ">About</a>
  <a href="https://wiki.centenary.org.au/x/YpL3C">Getting started</a>
  <a href="https://github.com/ImmuneDynamics/Spectre/issues">Report Issue</a>
  <a href="https://github.com/ImmuneDynamics/Spectre/discussions">Q&A</a>
  <a href="https://wiki.centenary.org.au/x/az0MCQ">Citing</a>
  <a href="https://github.com/ImmuneDynamics/Spectre">Github</a>
</resource-nav>
