{% if site.footer-links.researchgate %}<a href="https://www.researchgate.net/profile/{{ site.footer-links.researchgate }}"><i class="svg-icon researchgate"></i></a>{% endif %}
{% if site.footer-links.orcid %}<a href="https://orcid.org/{{ site.footer-links.orcid }}"><i class="svg-icon orcid"></i></a>{% endif %}
{% if site.footer-links.googlescholar %}<a href="https://scholar.google.com.au/{{ site.footer-links.googlescholar }}"><i class="svg-icon googlescholar"></i></a>{% endif %}
{% if site.footer-links.publons %}<a href="https://publons.com/researcher/{{ site.footer-links.publons }}"><i class="svg-icon publons"></i></a>{% endif %}
{% if site.footer-links.loop %}<a href="https://loop.frontiersin.org/people/{{ site.footer-links.loop }}"><i class="svg-icon loop"></i></a>{% endif %}
{% if site.footer-links.scopius %}<a href="https://www.scopus.com/authid/detail.uri?authorId={{ site.footer-links.scopius }}"><i class="svg-icon scopius"></i></a>{% endif %}
